---
import "./Form.css";
---

<form class="search-form">
    <input class="search-form__input" />
    <button class="search-form__button search-form__button_disabled">
        Search
    </button>
</form>
