---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
    return [
        { params: { lang: "en", version: "v1" } },
        { params: { lang: "fr", version: "v2" } },
    ];
}

const { lang, version } = Astro.params;
---

<Layout title="解説">
    <div>
        <h1>言語: {lang}</h1>
        <h2>バージョン: {version}</h2>
        <p>ここは情報ページです。</p>
    </div>
</Layout>
