---

---

<div class="nav-links">
    <a href="/" data-astro-prefetch>Home</a>
    <a href="/about" data-astro-prefetch>About</a>
    <a href="/works" data-astro-prefetch>Works</a>
</div>
<style>
    h1,
    h2,
    h3,
    p,
    li,
    label {
        color: #faf0dc;
        font-family: Ubuntu, "ヒラギノ角ゴ ProN";
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
