---
import Social from "./Social.astro";
---

<style>
    html,
    body {
        height: 100%;
        margin: 0;
    }
    .container {
        background-color: #f0f0f0;
        margin: 0%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        position: absolute;
        margin: 0%;
        bottom: 0rem;
        width: 100vh;
    }
</style>

<div class="container">
    <footer>
        <p>まるしー:Shinnosuke Uota</p>
    </footer>
</div>
